/* Profile */
.profile-img {
  border-radius: 50%;
  width: 20% !important;
  height: auto;
  margin: auto;
}

.profile-div {
  margin-top: 1.5em;
}

/* table */

th,
td {
  text-align: center !important;
}

/* filter */
.filter-div {
  width: 80% !important;
}

/* Uploader */
.uploader-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.uploader-div {
  width: 100%;
}

.salary-input {
  margin: 1em !important;
}

#SearchBtn {
  margin: auto;
}

/* form */
.modal-form-div {
  display: flex;
  flex-direction: row;
}

.modal-form-div > button {
  width: 2em;
}

.modal-form-div > h3 {
  text-align: center;
  margin: auto;
}

/* sidebar */
.menu-btn {
  top: 50vh;
}
